// .material-icons{
//   font-family: 'Material Icons' !important;
// }
// * {
  
//   font-family: 'Poppins', sans-serif;
// }

// /* last*/
//  .title{
  
//   color: rgb(87, 42, 159);
//   font-size: 15px;
//  }
//  /* last2*/
//  .subtitle{
//   font-size:17px;
//   color: rgb(87, 42, 159);
//  }
//  .mat-form-field{
//   width:100%;
//   background-color: white;
//  }
 
// .field{
//   width: 100%;
// }
// .btnsave{
//   background-color: rgb(51, 20, 95);

// }
// .btncancel{
//   background-color: rgb(232, 21, 21);
// }

// .headerlink {
//   text-decoration: none;
//   color: rgb(0, 0, 139);
// }
//  /* headercard*/
// .headercard {
//   border: none;
//   border-radius:10px;
// }
//  /* headcolr*/
// .headtextcolor{
//   color: rgb(87,42,159);
// }

// .group 			  { 
//   position:relative; 
//   margin-bottom: 35px; 

 
// }

// .inputMaterial 				{
  
//   padding:10px 10px 10px 5px;
//   display:block;
//   width:100%;
//   border:none;
//   border-bottom:1px solid #949297;
// }

// .inputMaterial:focus 		{ outline:none;
// border-bottom:1px solid blue;}

// /* LABEL ======================================= */

// label 				 {
 
//   font-size:14px;
//   font-weight:normal;
//   position:absolute;
//   pointer-events:none;
//   left:7px;
//   top:20px;
//   transition:0.2s ease all; 
//   -moz-transition:0.2s ease all; 
//   -webkit-transition:0.2s ease all;
//   color: rgb(87, 42, 159);
// }

// /* active state */
// .inputMaterial:focus ~ label, .inputMaterial:valid ~ label 		{
//   top:-10px;
//   font-size:10px;
//   color: rgb(87, 42, 159);
// }

 
 
// .error{
//   color: red;
//   font-size: x-small;
// }
// .star{
//   color: red;
 
// }
// .hr{
  
//   padding: 1px;
//   color: #0a0a0a;
// }
// .ng-touched.ng-invalid-required {
//   border-color: red;
// }
.btnsave{
    background-color: rgb(51, 20, 95);
  
  }
  .btncancel{
    background-color: rgb(232, 21, 21);
  }