<!-- <div >

<div class="card" style="width: 18rem;margin-top: 190px;margin-left: 560px;margin-bottom:50px;">
  <div class="card-body">
    <div class="shadow p-2 mb-2 bg-body rounded">

    <h5 class="card-title">Card</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn  px-3 me-5">Submit</a>

    <a href="#" class="btn  px-3 me-4">Cancel</a>
  </div>

  </div>
  </div>
</div> -->
<button class="mt-5 mx-5 "  color="warn" mat-raised-button (click)="openDialog('0ms', '0ms')">Open</button>

