@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif+Khojki&family=Poppins&family=Tiro+Tamil&display=swap');

* {

    font-family: 'Merriweather', sans-serif;
  }
   #last{

    font-size:14px;
    color: rgb(130, 43, 223);
   }
   .last{

    color: rgb(87, 42, 159);
    font-size: 20px;
   }
   .list{
    border: 2px ;

   }
   .last1{

    background-image:linear-gradient(rgb(126, 43, 126),rgb(186, 73, 157));
    margin-right: -20px;
   }

   .last3{
    background-image:linear-gradient(rgb(126, 43, 126),rgb(186, 73, 157));
   }
   .last2{
    font-size:17px;
    color: rgb(87, 42, 159);
   }


  .data-table {
    width: 80%;
    margin: 20px auto;
  }

  .icon {
    cursor: pointer;
  }

  .icons {
    color: red;
  }

 

  .butt {
    border: none;
    background-color: white
  }

  .table-edit-icon {
    font-size: 17px;
    margin-bottom: -7px;
  }
  .lasts{
    color: rgb(83, 19, 151);
    font-size: 14px;
    
  }
  .info{
    color: rgb(87, 42, 159);
    font-size: 14px;
   }

    
    
