<div class="container px-2 mt-0 pt-0 overflow-hidden">
    <div class="card mx-3 mt-2 headercard shadow">
        <div class="row  mx-2 p-3 ">
            <div class="col-lg-7 col-md-10 mx-0">
                <h4 class="my-auto headtextcolor"> <b>PROFILE</b></h4>
            </div>
            <div class="col-lg-5 col-md-12 my-auto text-lg-end text-sm-start ">
                <a class="mx-2 headerlink" href="#">
                    <small>Dashboard</small></a>|
                <a class="mx-2 headerlink" href="#"> <small> Profile
                    </small></a>|
                <a class="headerlink" href="#"><small>AddUser</small></a>
            </div>
        </div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
        <div class="row mt-5 d-flex  px-5">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <p class="subtitle mt-2"><b>PROFILE</b></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-lg-end text-sm-start text-md-end mb-3">
                <button class="btn btnsave fs-6 mx-1 text-white mt-2"> SAVE</button>
                <button class="btn btncancel last4 fs-6 mt-2 text-white mt-2" type="button">
                    CANCEL
                </button>
                <!-- <button class="btn  fs-6 " color="warn" mat-raised-button
                    (click)="openDialog('0ms', '0ms')">CANCEL</button> -->
            </div>
        </div>
        <div class="shadow justify-content-md-center mx-2 mb-5  mt-2 py-3 px-4 bg-body headercard ">
            <p class="title mt-2 fs-6">PROFILE INFO</p>
            <hr class="hr mb-5">
            <div class="row mt-3  mb-3 ">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4">
                    <div class="group">
                        <input class="inputMaterial" type="text" formControlName="firstName" [(ngModel)]="obj.firstName"
                            [ngClass]="{'border-danger && is-invalid': Submitted && f['firstName'].errors || f['firstName'].touched&& f['firstName'].errors }"
                            required>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['firstName'].errors || f['firstName'].touched&& f['firstName'].errors }">First
                            Name<span class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['firstName'].errors|| f['firstName'].touched&& f['firstName'].errors">
                            Please Enter Your firstName</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <input class="inputMaterial" type="text" formControlName="lastName" [ngClass]="{ 'border-danger && is-invalid': Submitted && 
                     f['lastName'].errors || f['lastName'].touched&& f['lastName'].errors }" required>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['lastName'].errors || f['lastName'].touched&& f['lastName'].errors }">Last
                            Name<span class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['lastName'].errors|| f['lastName'].touched&& f['lastName'].errors">
                            Please Enter Your Last Name</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <input class="inputMaterial" formControlName="email" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                    f['email'].errors || f['email'].touched&& f['email'].errors }" required>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['email'].errors || f['email'].touched&& f['email'].errors }">Email<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['email'].errors|| f['email'].dirty && f['email'].errors">
                            Please Enter Your email
                            <span *ngIf="f['email'].errors?.['pattern']"> must valid email</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <input class="inputMaterial" formControlName="PhoneNo" type="number" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                    f['PhoneNo'].errors || f['PhoneNo'].touched&& f['PhoneNo'].errors }" required>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['PhoneNo'].errors || f['PhoneNo'].touched&& f['PhoneNo'].errors  }">PhoneNumber<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['PhoneNo'].errors|| f['PhoneNo'].dirty && f['PhoneNo'].errors">
                            Please Enter Your PhoneNumber
                            <span *ngIf="f['PhoneNo'].errors?.['pattern']"> must be atleast 10 digit</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <select class="inputMaterial" formControlName="GenderId" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                f['GenderId'].errors || f['GenderId'].touched&& f['GenderId'].errors }" required>
                            <option>GenderId</option>
                            <option *ngFor="let GenderId of gender" [value]="GenderId.id">
                                {{GenderId.name}}
                            </option>

                        </select>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['GenderId'].errors || f['GenderId'].touched&& f['GenderId'].errors  }">Gender<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['GenderId'].errors|| f['GenderId'].touched&& f['GenderId'].errors">
                            Please Enter Your Gender</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <select class="inputMaterial" formControlName="CountryId" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                f['CountryId'].errors || f['CountryId'].touched&& f['CountryId'].errors }" required>
                            <option>CountryId</option>
                            <option *ngFor="let CountryId of country" [value]="CountryId.id">
                                {{CountryId.name}}
                            </option>
                        </select>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['CountryId'].errors || f['CountryId'].touched&& f['CountryId'].errors}">Country<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['CountryId'].errors|| f['CountryId'].touched&& f['CountryId'].errors">
                            Please Select Your Country</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <select class="inputMaterial" formControlName="StateId" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                    f['StateId'].errors || f['StateId'].touched&& f['StateId'].errors }" required>
                            <option>State</option>
                            <option *ngFor="let StateId of state" [value]="StateId.id">
                                {{StateId.name}}
                            </option>
                        </select>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['StateId'].errors || f['StateId'].touched&& f['StateId'].errors}">State<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['StateId'].errors|| f['StateId'].touched&& f['StateId'].errors">
                            Please Select Your State</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2  px-4 ">
                    <div class="group">
                        <select class="inputMaterial" formControlName="CityId" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                        f['CityId'].errors || f['CityId'].touched&& f['CityId'].errors }" required>
                            <option>City</option>
                            <option *ngFor="let CityId of cities" [value]="CityId.id">
                                {{CityId.name}}
                            </option>
                        </select>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['CityId'].errors || f['CityId'].touched&& f['CityId'].errors}">City<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['CityId'].errors|| f['CityId'].touched&& f['CityId'].errors">
                            Please Select Your State</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <select class="inputMaterial" formControlName="RoleId" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                            f['RoleId'].errors || f['RoleId'].touched&& f['RoleId'].errors }" required>
                            <option>Role</option>
                            <option *ngFor="let RoleId of role" [value]="RoleId.id">
                                {{RoleId.name}}
                            </option>
                        </select>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['RoleId'].errors || f['RoleId'].touched&& f['RoleId'].errors}">Role<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['RoleId'].errors|| f['RoleId'].touched&& f['RoleId'].errors">
                            Please Select Your Role</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4">
                    <div class="group">
                        <select class="inputMaterial" formControlName="Status" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                            f['Status'].errors || f['Status'].touched&& f['Status'].errors }" required>
                            <option>Status</option>
                            <option *ngFor="let Status of status" [value]="Status.id">
                                {{Status.name}}
                            </option>
                        </select>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['Status'].errors || f['Status'].touched&& f['Status'].errors}">Status<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['Status'].errors|| f['Status'].touched&& f['Status'].errors">
                            Please Select Your status</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <input class="inputMaterial" formControlName="AddressLine1" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                    f['AddressLine1'].errors || f['AddressLine1'].touched&& f['AddressLine1'].errors }" required>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['AddressLine1'].errors || f['AddressLine1'].touched&& f['AddressLine1'].errors}">AddressLine1<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['AddressLine1'].errors|| f['AddressLine1'].touched&& f['AddressLine1'].errors">
                            Please Select Your AddressLine1</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-2 px-4 ">
                    <div class="group">
                        <input class="inputMaterial" formControlName="AddressLine2" [ngClass]="{ 'border-danger && is-invalid': Submitted &&
                    f['AddressLine2'].errors || f['AddressLine2'].touched&& f['AddressLine2'].errors }" required>
                        <label class="inputlabel"
                            [ngClass]="{'text-danger && is-invalid': Submitted && f['AddressLine2'].errors || f['AddressLine2'].touched&& f['AddressLine2'].errors}">AddressLine2<span
                                class="star">*</span></label>
                        <span class="error"
                            *ngIf="Submitted && f['AddressLine2'].errors|| f['AddressLine2'].touched&& f['AddressLine2'].errors">
                            Please Select Your AddressLine2</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>