<div class="container">
  <div class="container__forms">
    <div class="form">
      <form action="" class="form__sign-in" (ngSubmit)="onSubmit()" [formGroup]="LoginForm">
        <h2 class="form__title">Sign In</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input id="email" type="email" placeholder="&nbsp;" autocomplete="off"
              formControlName="userName"
              [ngClass]="{ 'border-danger &&is-invalid': Submitted && f['userName'].errors || f['userName'].touched&& f['userName'].errors} " />
          <label  class="label"
              [ngClass]="{'text-danger && is-invalid':Submitted && f['userName'].errors|| f['userName'].touched&& f['userName'].errors}" >
              Username<span class="star">*</span></label>
          <span class="error"
              *ngIf="Submitted &&f['userName'].errors||f['userName'].touched&& f['userName'].errors"
              class="error">Username is required
          </span>
         </div>
      <div class="input-field">
          <i class="fas fa-lock"></i>
          <input id="password" type="password" placeholder="&nbsp;" autocomplete="off"
              formControlName="password"
              [ngClass]="{ 'border-danger &&is-invalid': Submitted && f['password'].errors || f['password'].touched&& f['password'].errors} " />
              <label class="label"
              [ngClass]="{'text-danger && is-invalid':Submitted && f['password'].errors|| f['password'].touched&& f['password'].errors}" >
              Password<span class="star">*</span></label>
              <span class="error"
              *ngIf="Submitted &&f['password'].errors||f['password'].touched&& f['password'].errors"
              class="error">Password is required
          </span>
          </div>
          <input class="form__submit" type="submit" value="Login" />
        <p class="form__social-text">Or Sign in with social platforms</p>
        <div class="form__social-media">
          <a href="https://www.facebook.com/">
            <img class="px-2" src="https://cdn-icons-png.flaticon.com/512/2626/2626269.png" style="height: 35px;" alt="" />
          </a>
          <a href="https://www.instagram.com/">
            <img class="px-2" src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" style="height: 35px;" alt="" />
          </a>
          <a href="https://www.google.com/">
            <img class="px-2" src="https://cdn-icons-png.flaticon.com/512/2702/2702602.png" style="height: 33px;" alt="" />
          </a>
          <a href="https://twitter.com/i/flow/login">
            <img class="px-2" src="https://cdn-icons-png.flaticon.com/512/4401/4401446.png" style="height: 35px;" alt="" />
          </a>
        </div>
      </form>

         
    </div>
  </div>
  <div class="container__panels">
    <div class="panel panel__left">
      <div class="panel__content">
        <h2 class="panel__title">WELCOME BACK!</h2>
        <p class="panel__paragraph">
           To Keep connected with us please login
           with ur personal info
        </p>
        <button class="btn btn-transparent" id="sign-up-btn">
          Sign Up
        </button>
      </div>
      <img class="panel__image" src="https://stories.freepiklabs.com/storage/11588/market-launch-amico-2628.png" alt="" />
    </div>
   
  </div>
</div>

