.data-table {
    width: 80%;
    margin: 20px auto;
  }
  
.alink {
    text-decoration: none;
    color: rgb(0, 0, 139);
 }
 
 .headercard {
    border: none;
    border-radius: 10px;
 }
 .headcolr{
    color: rgb(87,42,159);
 }